<div id="main">
  
  <%= image_tag "magpie.jpg", id: "logo" %>

  <p class="input-row">
    <input type="text" class="input" id="marco" placeholder="这里输入你的微信号">
  </p>
  <p class="input-row">
    <input type="text" class="input" id="polo" placeholder="这里输入TA的微信号">
  </p>
  <p class="input-row">
    <button id="submit">看看TA想不想跟你过七夕</button>
    <span id="describtion">我不会告诉TA的哦！</span>
  </p>

</div>

<div id="message">
  
  <div class="message-main">
    <p id="message-content"></p>
    <p>
      <a href="/" id="retry">再试一次</a>
    </p>
  </div>

</div>