<div id="main">
  
  <p class="input-row">
    <input type="text" id="marco" placeholder="这里输入 你 的Q号或者微信号">
  </p>
  <p class="input-row">
    <input type="text" id="polo" placeholder="这里输入 TA 的Q号或者微信号">
  </p>
  <p class="input-row">
    <button id="submit">开始配对</button>
  </p>

</div>