<div id="main">
  
  <p class="input-row">
    <input type="text" class="input" id="marco" placeholder="这里输入你的Q号或者微信号">
  </p>
  <p class="input-row">
    <input type="text" class="input" id="polo" placeholder="这里输入TA的Q号或者微信号">
  </p>
  <p class="input-row">
    <button id="submit">开始配对</button>
  </p>

</div>